body{
    background-color: black;
    color: white;
}

.my_div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my_button{
    padding: 10px;
    font-weight: bold;
    color: red;
}